@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-bold{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.work-sans-semibold{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.work-sans-regular{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.work-sans-medium{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* text-color */
.dark-1{
    color: rgba(19, 19, 19, 1);
}
.dark-2{
    color: rgba(66, 66, 66, 1);
}
.dark-3{
    color: rgba(114, 114, 114, 1);
}

/* button primary */
.primary-btn{
    background-color: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    padding: 21px 25px;
    font-size: 20px;
    border: none;
}

/* background header */
.bg-head{
    background-color: rgba(255, 144, 14, 0.1);
}

.flex{
    display: flex;
}
.brand{
    font-size: 2.8rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    

}
.nav-link{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
}

.navbar, .banner{
    max-width: 1024px;
    margin: 0 auto;
}

/* banner related style */
.banner-content{
    max-width: 861px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}
.banner-title{
    font-size: 4rem;
}
.banner-description{
    font-size: 1rem;
}
.banner-img{
    width: 100%;
    padding-bottom: 2.9rem;
}

/* main section */
main{
    max-width: 1024px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;

}

/* our features */
.feature-title{
    font-size: 45px;
}
.feature-description{
    font-size: 1rem;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}



/* fact section */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin-top: 4rem;
}
.fact{
    border: 1px solid rgba(239, 4, 169, 1);
    border-radius: 8px;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-head{
    font-size: 45px;
}
.fact-description{
    font-size: 1rem;
    max-width: 540px;
}
.fact-number{
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1rem;
    margin-top: 2px;
}









footer {
    max-width: 1024px;
    margin: 0 auto;
}
.footer-style{
    background-color: rgba(255, 244, 231, 1);
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.footer-head{
    font-size: 1.5rem;
}

/* responsive media query */
@media screen and (max-width: 576px){
    .navbar,.nav-item,.teams{
        flex-direction: column;
    }
    .team-img-container,.facts-container{
        grid-template-columns: repeat(1,1fr);
    }
    .facts-container{
        justify-items: center;
    }
    .our-features,.fact-head,.fact-description{
        margin: 16px 16px;
    }
}
/* our feature section */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .team-img-container,.facts-container{
        grid-template-columns: repeat(2,1fr);
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .our-features,.fact-description,.fact-head{
        margin : 50px auto;
    }
}