@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-bold{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.work-sans-semibold{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.work-sans-regular{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.work-sans-medium{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* text-color */
.dark-1{
    color: rgba(19, 19, 19, 1);
}
.dark-2{
    color: rgba(66, 66, 66, 1);
}
.dark-3{
    color: rgba(114, 114, 114, 1);
}

/* button primary */
.primary-btn{
    background-color: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    padding: 21px 25px;
    font-size: 20px;
    border: none;
}

/* background header */
.bg-head{
    background-color: rgba(255, 144, 14, 0.1);
}

.flex{
    display: flex;
}
.brand{
    font-size: 2.8rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    

}
.nav-link{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
}

.navbar, .banner{
    max-width: 1024px;
    margin: 0 auto;
}

/* banner related style */
.banner-content{
    max-width: 861px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}
.banner-title{
    font-size: 4rem;
}
.banner-description{
    font-size: 1rem;
}
.banner-img{
    width: 100%;
    padding-bottom: 2.9rem;
}

/* responsive media query */
@media screen and (max-width: 576px){
    .navbar,.nav-item{
        flex-direction: column;
    }
}

/* main section */
main{
    max-width: 1024px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;

}

.feature-title{
    font-size: 45px;
}
.feature-description{
    font-size: 1rem;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}